.side-nav {
    padding: 8px 8px 8px 32px;
    height: 100%;
    width: 250px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    overflow-x: hidden;
    background-color: #333333;
    color: #fafafa;
}

.side-nav a {
    padding-top: 8px;
    padding-bottom: 8px;
    text-decoration: none;
    display: block;
    color: #fafafa;
}

.video-content {
    margin-left: 282px;
    padding: 20px;
}


.topnav {
    overflow: hidden;
    background-color: #e9e9e9;
    padding: 10px 10px;
}

/* Navbar links */
.topnav a {
    float: right;
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

/* Navbar links on mouse-over */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the input container */
.topnav .search-container {
    float: left;
    margin-left: 20px;
}

/* Style the input field inside the navbar */
.topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

/* Style the button inside the input container */
.topnav .search-container button {
    float: right;
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background: #ccc;
}

.user {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color: #fafafa;
    padding: 10px;
}

.card {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
}

.card img {
    border-radius: 10px 10px 0 0;

}

.card .container {
    padding: 2px 16px;
}

.card .topic {
    color: grey;
    font-size: 10px
}

.card:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.time {
    margin-left: 45px;
    font-size: 10px;
    color: grey;
}



.channel-card{
    height: 520px;
    width:500px;
    padding-top:10px;
    background-color:#fafafa;
    border-radius: 10px;
}

.channel{
    height: 70px;
    width:490;
    margin-left:5px;
    background-color:#333333;
    transition: 0.5s;
    border-radius: 10px;
    opacity:0.8;
}

.channel:hover{
    height: 80px;
    width:510px;
}

.channel button:hover{
    cursor: pointer;
}

.channel-card hr{
    width:450px;
}

.channel-logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left:5%;
    margin-top:2.5%;
    
}

.channel p{
    display:inline;
    margin-bottom:5%;
    font-size:10px;
    color:#fafafa;
    

}

.channel button{
    float: right;
    margin:5%;
}

